<h2><%= @organizations.name %></h2>

<p>
  <strong>Service Type</strong></br>
  <%= @organizations.category %>
</p>

<p>
  <strong>Eras We Serve</strong></br>
  <%= @organizations.era_served %>
</p>

<p>
  <strong>Mission Statement</strong></br>
  <%= @organizations.description %>
</p>

<p class="show-header">
  <strong>Rating</strong></br>
  <%= @organizations.avg_rating %>
</p>

<p>
  <strong>Website</strong></br>
  <%= @organizations.url %>
</p>

<p>
  <strong>Contact</strong></br>
  <%= @organizations.email %>
</p>

<p>
  <strong>phone</strong></br>
  <%= @organizations.phone %>
</p>

<p>
  <strong>Address</strong></br>
  <%= @organizations.address1 %>
  <%= @organizations.address2 %></br>
  <%= @organizations.city %>,</br>
  <%= @organizations.state %>
  <%= @organizations.zipcode %></br>
</p>

