<h2><%= @organization.name %></h2>

<p>
  <strong>Service Type</strong></br>
  <%= @organization.category %>
</p>

<p>
  <strong>Eras We Serve</strong></br>
  <%= @organization.era_served %>
</p>

<p>
  <strong>Mission Statement</strong></br>
  <%= @organization.description %>
</p>

<p class="show-header">
  <strong>Rating</strong></br>
  <%= @organization.avg_rating %>

  avg_rating = review.rating.sum /review.rating.length
</p>

Review.where(organization_id: 3).pluck("rating").sum / Review.where(organization_id: 3).pluck("rating").length


<p>
  <strong>Website</strong></br>
  <%= @organization.url %>
</p>

<p>
  <strong>Contact</strong></br>
  <%= @organization.email %>
</p>

<p>
  <strong>phone</strong></br>
  <%= @organization.phone %>
</p>

<p>
  <strong>Address</strong></br>
  <%= @organization.address1 %>
  <%= @organization.address2 %></br>
  <%= @organization.city %>,</br>
  <%= @organization.state %>
  <%= @organization.zipcode %></br>
</p>

  <h2> All Reviews </h2>
  <table class="listing" summary="Post list">
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.rating %></td>
        <td><%= review.feedback %></td>
        <td><%= review.recommend %></td>
        
        </td>
        <% end %>
      </tr>
  </table>
</div>
