<%= form_for :review, url: reviews_path do |f| %>
  <% if @reviews.errors.any? %>
      <div id="error_explanation">
      <h4>
        <%= pluralize(@reviews.errors.count, "error") %>
prohibited
        this post from being saved:
      </h4>
      <ul>
        <% @reviews.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<h1> Create a new Review </h1>
<br />

<h4>Choose the Organization you Want to Review</h4>
  <%= f.collection_select :organization_id, Organization.all.order(:name),:id,:name %>
<br>

    <h4>Overall how would rate working with them [0 - 5]?</h4>
    <div style="max-width: 300px">
    <%= f.range_field :rating, :min=>0, :max=>5, :class=>"slide", :id=>"slider1"%> 
    <%= f.label "0" %> <%= f.label "5", :style=>"float:right" %>
</div>

<div class="field">
  <h4>How did this organization help or hinder you?</h4>
    <%= f.label :feedback, class: "hidden" %>
    <%= f.text_area :feedback, style: 'width:60%;', :placeholder => "This is where you write about the organization" %>
 </div>

 <h4>Would you recommend this Organization to other Veterans?</h4>
  <div class="field">
    <%= f.label "Yes!" %>
    <%= f.check_box :recommend %>
  </div>
  
  <br>
  <%= f.submit "submit", class: "btn btn-primary btn-primary button" %>
<% end %>
