<!DOCTYPE html>
<html>
  <head>
    <title>Finder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid">
      <nav>
        <% if current_user %>
        <%= render "layouts/menu" %>
          <% else %>
       <%= render "layouts/header" %>
          <% end %>
      </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
    </div>
  </body>
</html>
